*{
    font-family: 'Ubuntu', sans-serif;
    padding : 0;
    margin : 0;
    
    
    }

    @media (max-width: 430px) {

    body{
        display:flex;
        flex-direction: column;
        background: linear-gradient(167.74deg, rgba(251, 46, 115, 0.65) -0.54%, rgba(96, 189, 175, 0.65) 19.43%, rgba(237, 252, 194, 0.65) 88.52%);
background-blend-mode: darken;
    }

    header {
    display: flex;
    height:px;
    gap: 70px;
    align-items:center;
    padding: 20px
}

    .flecha {
        width: 40px;
        height: 34px;
        padding-left:10px;
    }

    .logo {
        width: 64.86px;
        height: 55.96px;;
    }

    main {
        display: flex;
        flex-direction: column;
        
    }

    section {
        display: flex;
        height:95px;
        background-color: white;
        gap:10px;
        padding-left:10px;
        border-style: solid;
        border-width: thin;
    }
    
    .texto{
        display:flex;
        flex-direction: column;
        gap:10px;
        padding-top:10px;
    }


    footer{
        height:70px;
    }

    .flecha_inferior{
        padding-left:194px;
        padding-top:5px;
    }
}